
.contenido-servicios {
    padding : 20px;
    margin: 30px auto;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.contenido-servicio {
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: var(--white);
    border-radius: 10px;

}

.section-titulo-servicio {

    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    color: var(--gris-oscuro);
}

.titulo-servicio {
    font-size: 3vw;
}

.contenido-servicio h2 {
    font-weight: 500;
 
}

@media (min-width: 800px) {
    .section-titulo-servicio {
        width: 45%;
    }
    .titulo-servicio {
        font-size: 3vw;
    }
   }
  