
.lista-reservar {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 100%;
  padding: 30px;
  background-color: var(--negro-tr);
  color: white;
 z-index: 2;
}


.h1-reservar {

  font-size: 3.5vw;
  font-family: "Raleway", sans-serif;
  text-shadow: 0 1px 0 rgba(8, 8, 8, 0.658);
  padding: 10px;

}


.section-calendario  {
  justify-content: center;
  gap: 50px;
  margin-top: 30px;

}

.calendario {
  margin: 20px;
}

.div-calendario {
  gap: 20px;
  align-items: center;
  background-color: var(--blanco-contacto);
  border-radius: 10px;
  padding: 20px;

}

ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;
}


.section-formulario-contacto {
  align-items: center;
  margin-top: 50px;

}


.imagen-reservar-hora {
  height: 75vh;
}


.div-reservar-hora {
  height: 82vh;
  width: 100%;
}

.ul-formulario-reserva{
  gap: 14px;
  background-color: var(--primario);
   color: var(--white);
  height: 100%;
  padding: 20px 0px;
}

.ul-formulario-reserva label {
  display: block;
  width: 135px;
}

.li-formulario {
  display: flex;
  justify-content: space-between;
}

.section-horas-disponibles {
  gap : 20px;
  align-items: center;
  border-radius: 10px;
  background-color: var(--blanco-contacto);
 
}

.div-horas {
  gap: 10px;
  padding: 20px;
  border: 1.6px solid rgb(139, 137, 137);
  border-radius: 10px;
}

.div-horas li {
  padding: 10px;
  margin: 10px 0px;
  background-color: rgb(232, 234, 236);
  border-radius: 10px;
}




.btn-enviar-reserva {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #043317;
  color: white;
  width: 100%;
}

.react-calendar {
  width: 400px!important;
  max-width: 100%;
  line-height: 2em!important;
  padding: 20px;
}

.react-calendar__tile {
  font-size: 1.1em!important;
}

.react-calendar__navigation__label__labelText {
  font-size: 1.5em;
}

.li-hora {
  cursor: pointer;
}

.seleccionado {
  background-color:var(--primario)!important;
  color: white!important;
}

.btn-deshabilitar {
  background-color: rgb(116, 112, 112);
  color: white;
}

.btn-habilitado {
  background-color: var(--color-blog)!important;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.btn-elegido {
  background-color: var(--elegido)!important;

}

.li-formulario input, textarea {
  width: 100%;
}

@media (min-width: 800px) {
  .section-contacto-turno {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  
  }
 }

@media (min-width: 1500px) {

  .section-formulario-contacto {
    height: 85vh;
  }
  .span-link {
     font-size: 1vw;
  }
  .nav-horario {
     font-size: 0.7vw;
  }

 }