.section-calendario  {
  justify-content: center;
  gap: 50px;
  margin-top: 30px;

}

.calendario {
  margin: 20px;
}

.div-calendario {
  gap: 20px;
  align-items: center;
}

ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;
}


.section-formulario-contacto {
  margin: 30px 0px;
  align-items: center;
  height: 75vh;
}



.imagen-reservar-hora {
  height: 100%;
}


.div-reservar-hora {
  height:100%;
  width: 100%;
}

.ul-formulario-reserva{
  gap: 20px;
  background-color: var(--primario);
  color: var(--white);
  padding: 28px;
}

.ul-formulario-reserva label {
  display: block;
  width: 120px;
}

.ul-formulario-reserva input, textarea {
  width: 80%;
}

.li-formulario {
  display: flex;
  justify-content: space-between;
}

.section-horas-disponibles {
  gap : 20px;
 align-items: center;
 
}

.hora-disponible {
  background-color: rgb(165, 2, 2);
}

.hora-no-disponible {
  background-color: rgb(16, 141, 43);
}

.div-horas {
  gap: 10px;
}

.div-horas li {
  padding: 10px;
  margin: 10px 0px;
  background-color: rgb(232, 234, 236);
  border-radius: 10px;
}



.react-calendar {
  width: 400px!important;
  max-width: 100%;
  line-height: 2em!important;
  padding: 20px;
}

.react-calendar__tile {
  font-size: 1.1em!important;
}

.react-calendar__navigation__label__labelText {
  font-size: 1.5em;
}