.section-ubicacion {
    
    margin : 20px;
    gap: 30px;
    
 
}

.h2-clinica {
    padding: 5px;
    font-size: 1.8vw;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}


.ver-mapa {

}

@media (min-width: 800px) {
    .section-ubicacion {
        flex-direction: row;
    }
  }

  @media (min-width: 1500px) {
    .section-ubicacion {
       margin: 20px 0px;
    }
  }
  
  