.portada-img-servicio {
    width: 100vw;
}
.article-portada {
    height: 44vh;
}
.article-portada-servicio {
    background-color: white;
    margin : 30px auto;
    overflow:hidden;
    background-color: #F3F8FE;
    padding: 30px;
    display: flex;
    flex-direction: column;

}



.section-servicio-contenido {
    padding : 30px;
    margin: 30px;
}

.img-servicio {
    height: 55vh;
    filter: brightness(90%);
}
#img-servicio-periodontal-2 {
    height: 20vw;
}
#img-servicio-periodontal-3 {
    height: 21vw;
}


.h2-servicio-general {
    font-size: large
}

.h3-servicios {
    font-size: 1.3vw;
}

.p-servicio-texto {
    font-size: smaller;
    color: var(--gris);
}
#imagen1-servicio-general {
    height: 100%;
    width: 100%;
}

.section-portada-servicio {
    position: relative; /* Asegúrate de que la posición sea relativa para que los elementos posicionados absolutamente sean relativos a este contenedor */
    overflow: hidden; 

}

.section-icono {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.281)!important;
    border-radius: 100%;
    transform: translate(30%, 10%); /* Centrar el elemento */
    padding: 25%;
    filter:opacity(0.3);  
    z-index: 1;
}

.imagen-icono-servicio {
  
    object-fit: contain; /* Esto asegurará que la imagen se ajuste dentro de su contenedor sin ser recortada */
    width: 150%; /* Ajusta el ancho de la imagen para que ocupe todo el espacio disponible */
   
}

.span-reservar {
    font-size: 1vw;
}

.h2-portada-texto {
    z-index: 2;
}
.p-portada-texto {
    z-index: 2;
}

#section-portada-periodontal {
    background-color: #147DE7;
}

#section-portada-cosmetico {
    background-color: var(--color-blog)
}


#section-portada-acido {
    background-color: rgb(214, 176, 3)
}

#portada-acido {
    height: 85vh
}
#img-portada-acido{
 width: 55vw;
}



@media (min-width: 800px) {
    .portada-img-servicio {
        width: 60vw;
    }
    .article-portada {
        height: 85vh;
    }
    .article-portada-servicio {

        flex-direction: row;
        
    }

    .h2-servicio-general {
        font-size: large;
    }
    .h3-servicio-general {
        font-size: medium;
    }
    .p-servicio-texto {
        font-size: smaller
    }

    #imagen1-servicio-general {
        height: 50%;
        width: 50%;
    }
    
}

@media (min-width: 1600px) {
    #imagen1-servicio-general {
        height: 35vh;
        max-width: 100%;
    }
}