.portada-img-servicio {
    width: 60vw;
}

.article-portada-servicio {
    background-color: white;
    margin : 30px auto;

}

.section-servicio-contenido {
    height: 70vh;
}
.img-servicio {
    height: 60vh;

}

.h2-servicio-general {
    font-size: 2.1vw;
}

.p-servicio-texto {
    font-size: 1.2vw;
    color: var(--gris);
}
#imagen1-servicio-general {
    height: 50vh;
    max-width: 550px;
}



.imagen-icono-servicio {
    padding: 10%;
    filter:opacity(0.3);
    position: absolute;
    left: 65%;
    z-index: 10;
}