.portada-img-servicio {
    width: 60vw;
}

.article-portada-servicio {
    background-color: white;
    margin : 30px auto;
    overflow:hidden;
    background-color: #F3F8FE;
    padding: 30px;
    
}

.section-servicio-contenido {
    padding : 30px;
    margin: 30px;
}

.img-servicio {
    height: 60vh;
    filter: brightness(90%);
}

.h2-servicio-general {
    font-size: 1.6vw;
}

.h3-servicio-general {
    font-size: 1.3vw;
}

.p-servicio-texto {
    font-size: 1.1vw;
    color: var(--gris);
}
#imagen1-servicio-general {
    height: 44vh;
    max-width: 100%;
}

.section-portada-servicio {
    position: relative; /* Asegúrate de que la posición sea relativa para que los elementos posicionados absolutamente sean relativos a este contenedor */
    overflow: hidden; 
}

.imagen-icono-servicio {
    padding: 10%;
    filter:opacity(0.3);
    position: absolute;
    top: 0.5%;
    left: 25%;
    z-index: 1;
}

.h2-portada-texto {
    z-index: 2;
}
.p-portada-texto {
    z-index: 2;
}


@media (min-width: 1600px) {
    #imagen1-servicio-general {
        height: 35vh;
        max-width: 100%;
    }
}