.portada-galeria {
    height: 45vh;
    background-image: url("../../../public/sonrisa-3.jpg");
    background-size: 100%;
    background-position: 0 46%;

}
.img-galeria {
    width: 50vw;
}

.ul-galeria {
 width: 100%;
}

.header-galeria {
    margin: 20px auto;
}