
.h2-portada-texto {
    padding-left: 5px;
    box-sizing: content-box;
}
.logo-portada {
  
}

.logo-portada::before {
    content: '';
    display: block;
    position: absolute;
    left:  5%;
    top: 2%;
    width: 12vw;
    height: 95%;
    z-index: 2;
    opacity: 0.2;
    z-index: 0;
    background-image: url('../../../public/logo-2.png');
    background-repeat: no-repeat;
    background-position: 50% 45%;
    background-size: cover;
}

.logo-1 {

}
.logo-portada-2 {
    top: 5%;
    right: 0%;
}

.logo-3{

}

.logo-4{
    right: 15%;
    bottom: 15%;
}
.portada-img {
    background-image: url("../../../public/portada.png");
    background-size: contain;
    /*
    filter: grayscale(30%);
    filter: brightness(75%);
    */
    border-right: 4px solid rgb(255, 255, 255);
}



.portada-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-align: start;
    background: linear-gradient(to top, var(--primario), 40%, var(--secundario));
   
}


/* IMAGEN DEL LOGO PORTADA PARA EL INICIO */
.portada-logo-img {
    margin: 0 auto;
    width: 90%;
}

.li-portada-texto {
    font-size: 1.1vw;
}

.lista-numero {
    padding: 10px;
    gap: 10px;
    background-color: rgba(39, 38, 38, 0.562);
    border-radius: 5px;
    width: fit-content;
}

.span-portada-numero {
    font-size: 1.1vw;
}

  
.menu-portada {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 30%;
    left: -1%;
    z-index: 2;
    padding: 10px;
    cursor: pointer;
}

.menu-portada li a{
    text-decoration: none;
    background-color: var(--white)!important;
    padding: 10px;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}

.menu-portada li a:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.7);
}


.article-portada {
    /*filter: opacity(0.98); */
    background: linear-gradient(to top, var(--primario), 40%, var(--secundario));
    height: 88vh;

}

.article-portada:hover {
    filter: opacity(1);

}
.article-portada-banner {
    /*
    background: var(--primario);
    */

    height: 35vh;
    background: linear-gradient(to right, var(--primario),71%, var(--white), 90%, var(--white));
    box-sizing: border-box;

}

.img-portada-1{
    filter: brightness(95%);
}

@media (min-width: 800px)  {

    .article-portada {
        height: 88vh;
        display: flex;
        margin-top: 4%;
    }
    .article-portada-banner {
        height: 65vh!important;
    }
    #img-banner {
        height: 65vh;
        margin: 0 5%!important;
    }
    
    .portada-img {
        height: 88vh;
        width: 100%;
        display: block;
    }
    .logo-portada::before {
     width: 15vw;
    }

    .portada-border {
        height: 88vh;
    }
    .h2-portada-texto {
        font-size: 2.5vw;
    }
    .portada-texto {
        flex-grow: 1;
        flex-wrap: wrap;
        height: 88vh;
        
        
    }
    .p-portada-texto {
        font-size: 1.6vw!important;
        font-family: "Caveat", cursive;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal; 


    }
    #img-banner {
        margin: 0 13%!important;
    }
   }
  


   @media (min-width: 1550px) {
    .logo-portada {
        top: 73%;
     
    }
    .p-portada-texto {
        font-size: 1.1vw;;
    }
    .li-portada-texto {
        font-size: 0.7vw;
    }
    .ml-15 {
        margin-left: 25%;
    }
   }