
.portada-border{
    width: 8vw;
    background-image: url("../../../public/borde.jpg");
    transform: rotate(180deg);
    background-size: cover;
}
.h2-portada-texto {
    padding: 15px;
    box-sizing: content-box;
}
.logo-2-portada {
    width: 5vw;
    position: relative;
    bottom: -10%;
    right:  -35%;
    border-radius: 100%;
    box-sizing: content-box;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.062) 0px 2px 8px 0px;
}

.portada-img {
    background-image: url("../../../public/portada.png");
    background-size: contain;
    filter: grayscale(30%);
    filter: brightness(75%);

    
}


.portada-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-align: start;
    background: linear-gradient(to top, var(--primario), 40%, var(--secundario));
    border-left: 4px solid rgb(255, 255, 255);
}


/* IMAGEN DEL LOGO PORTADA PARA EL INICIO */
.portada-logo-img {
    margin: 0 auto;
    width: 90%;
}

.li-portada-texto {
    font-size: 1.1vw;
}

.lista-numero {
    padding: 10px;
    gap: 10px;
    background-color: rgba(39, 38, 38, 0.562);
    border-radius: 5px;
    width: fit-content;
}

.span-portada-numero {
    font-size: 1.1vw;
}

  
.menu-portada {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 30%;
    left: -1%;
    z-index: 2;
    padding: 10px;
    cursor: pointer;
}

.menu-portada li a{
    text-decoration: none;
    background-color: var(--white)!important;
    padding: 10px;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}

.menu-portada li a:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.7);
}

#portada-4 {
    height: 60vh;
    filter: grayscale(100%);
    filter: brightness(100%);
    margin: 0% 20%;
    
}

.article-portada {
    height: 88vh;
    background: linear-gradient(to top, var(--primario), 40%, var(--secundario));

}

.article-portada-banner {
    /*
    background: var(--primario);
    */
    height: 60vh;
    
    background: linear-gradient(to right, var(--primario),81%, var(--white), 90%, var(--white));
    
}


@media (min-width: 800px) {
    .article-portada {
        display: flex;
    }
    .portada-img {
        height: 88vh;
        width: 100%;
    }
    .portada-border {
        height: 88vh;
    }
    .h2-portada-texto {
        font-size: 2.5vw;
    }
    .portada-texto {
        flex-grow: 1;
        flex-wrap: wrap;
        height: 88vh;
    }
    .p-portada-texto {
        font-size: 1.3vw;;
    }
   }
  
   @media (min-width: 1500px) {
    .p-portada-texto {
        font-size: 1.1vw;;
    }
    .li-portada-texto {
        font-size: 0.7vw;
    }
   }