
.portada-border{
    width: 21%;
    background-image: url("../../../public/borde.jpg");
    transform: rotate(180deg);
    background-size: cover;
}
.h2-portada-texto {
    padding: 15px;
    box-sizing: content-box;
}
.logo-2-portada {
    width: 5vw;
    position: relative;
    bottom: -10%;
    right:  -35%;
    border-radius: 100%;
    box-sizing: content-box;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.062) 0px 2px 8px 0px;
}

.portada-img {

    
    background-image: url("../../../public/portada.png");
    background-size: contain;
    
}


.portada-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-align: start;
    background: linear-gradient(to top, var(--primario), 40%, var(--secundario));
}


/* IMAGEN DEL LOGO PORTADA PARA EL INICIO */
.portada-logo-img {
    margin: 0 auto;
    width: 90%;
}

.li-portada-texto {
    font-size: 1.1vw;
}

.lista-numero {
    padding: 10px;
    gap: 10px;
    background-color: rgba(39, 38, 38, 0.562);
    border-radius: 5px;
    width: fit-content;
}

.span-portada-numero {
    font-size: 1.1vw;
}

  
@media (min-width: 800px) {
    .article-portada {
        display: flex;
    }
    .portada-img {
        height: 90vh;
    }
    .portada-border {
        height: 90vh;
    }
    .h2-portada-texto {
        font-size: 2.5vw;
    }
    .portada-texto {
        
        /* background: linear-gradient(to top, #009173, 20%, #007855); */

        width: 80%;
        height: 90vh;
    }
    .p-portada-texto {
        font-size: 1.3vw;;
    }
   }
  
   @media (min-width: 1500px) {
    .p-portada-texto {
        font-size: 1.1vw;;
    }
    .li-portada-texto {
        font-size: 0.7vw;
    }
   }