
.portada-border{
    width: 21%;
    background-image: url("../../../public/borde.jpg");
    transform: rotate(180deg);
    background-size: cover;
}

.logo-2-portada {
    width: 5vw;
    position: relative;
    bottom: -17%;
    right:  -35%;
    border-radius: 100%;
    box-sizing: content-box;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.portada-img {

    /*
    background-image: url("../../../public/portada.png");
    background-size: contain;
    */

}


.portada-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-align: start;
}


@media (min-width: 800px) {
    .article-portada {
        display: flex;
    }
    .portada-img {
        height: 90vh;
    }
    .portada-border {
        height: 90vh;
    }
    .h2-portada-texto {
        font-size: 2.5vw;
    }
    .portada-texto {
        
        /* background: linear-gradient(to top, #009173, 20%, #007855); */
        background: linear-gradient(to top, var(--primario), 40%, var(--secundario));
        width: 80%;
        height: 90vh;
    }
   }
  
   @media (min-width: 1500px) {
    .p-portada-texto {
        font-size: 1.1vw;;
    }
    .li-portada-texto {
        font-size: 0.7vw;
    }
   }