nav {
    justify-content:space-evenly;
    gap: 150px;
    
    
}

a {
    text-decoration: none;
}
.span-link {
    color: #595959;
    font-size: 1.1vw;
    font-weight: 500;

}

.nav-principal {
    padding: 10px 0px;
}

.lista-navbar {
    gap: 10px;
}

.nav-horario {
    background-color: #333333;
    color: white;
    padding: 20px;
    font-size: 0.85vw;
}

@media (min-width: 800px) {
 
}