nav {
    justify-content:space-evenly;
    gap: 150px;
}

a {
    text-decoration: none;
}
.span-link {
    color: #595959;
    font-size: 1.1vw;
    font-weight: 500;

}

.nav-principal {
    padding: 10px 0px;
}

.lista-navbar {
    gap: 15px;
}

.nav-horario {
    background-color: #333333;
    color: white;
    padding: 10px;
    font-size: 0.86vw;
    
}

.p-horario {
    padding: 1px;
}


@media (min-width: 1500px) {
 .span-link {
    font-size: 1vw;
 }
 .nav-horario {
    font-size: 0.7vw;
 }
}