.section-panel-big {
    height: 86vh;
}

.section-panel-small {
    padding: 50px;
    gap: 20px;
    width: 50%;
    background-color: var(--oscuro);
    border-radius: 10px;
    
}

.div-panel {
    width: 25vw;
    color: var(--color-blog)
}

.img-panel {
    width: 20vw;
    filter: brightness(84%);
    border-radius: 10px;

}

.h2-panel {
    transition: all 0.5s ease-out;
    margin: 20px;
    font-size: large;
}

.div-panel-1:hover .h2-panel-1, .div-panel-2:hover .h2-panel-2 {
    color: white;
    filter: brightness(110%);
    transition: all 0.5s ease-out;
    transform:scale(1.2); 
}