.section-panel-big {
    margin-top: 6%;
}

.section-panel-small {
    padding: 35px;
    width: 90%;
    background-color: var(--oscuro);
    border-radius: 10px;
}

.article-panel {
    padding: 15px;
}

.h1-panel {
    font-size: 5vw;
    color: white;
}
.div-panel {
    color: var(--color-blog);
    height: 100%
}

.img-panel {
    width: 18vw;
    filter: brightness(84%);
    border-radius: 10px;

}

.h2-panel {
    transition: all 0.5s ease-out;
    margin: 5px;
    font-size: small;
}

.div-panel-1:hover .h2-panel-1, .div-panel-2:hover .h2-panel-2 {
    color: white;
    filter: brightness(110%);
    transition: all 0.5s ease-out;
    transform:scale(1.2); 
    
}


@media (min-width: 800px) {
    .section-panel-big {
        height: 80vh;

    }
    .img-panel {
        width: 10vw;
    }
    .h1-panel {
        font-size: xx-large;
    }
    .h2-panel {
        font-size: large;
    }
    .section-panel-small {
        gap : 40px;
        width: 50%;
    }
}

@media (min-width: 1500px) {

    .img-panel {
        width: 8vw;
    }
  
}
