.section-contacto-formulario {
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    margin: 30px 0px 50px 0px;
}

.formulario-contacto {
    padding: 30px;
    width: 40%;
}

.formulario-contacto li {
    margin-top : 10px;
    display: flex
}

.formulario-contacto label {
    display: block;
    width: 140px;
}
.formulario-contacto input, textarea {
    width: 100%
}


.ul-formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.img-contacto {
    width: 24vw;
}

.section-img-contacto {
    padding: 30px
}

.section-img-contacto h1 {
    margin-bottom : 20px
}

textarea {
    height: 12vh;
}