.portada-contacto {
    background-image: url("../../../public/contactar-2.jpg");
    background-size: 100%;
    background-position: center 32%;
    height: 56vh;
}

.section-contacto-header {
    padding: 40px;
    gap: 10px;
}

.titulo-contacto {
    font-family: "Raleway", sans-serif;

}

.section-contacto-formulario {
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
    margin: 10px 0px 50px 0px;
}

.formulario-contacto {
    padding: 40px;
    width: 40%;
    background-color: var(--claro);
    border-radius: 10px;
    height: 100%;

}

.formulario-contacto li {
    margin-top : 10px;
    display: flex
}

.formulario-contacto label {
    display: block;
    width: 140px;
}
.formulario-contacto input, textarea {
    width: 100%
}


.ul-formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.img-contacto {
    width: 24vw;
}

.section-img-contacto {
    padding: 30px
}

.section-img-contacto h1 {
    margin-bottom : 20px
}

textarea {
    height: 12vh;
}


.btn-enviar-contacto {
    padding: 10px;
    border: 1px solid rgb(179, 176, 176);
    border-radius: 10px;
    width: 12%;
}

.li-formulario-contacto textarea {
    width: 100%;
}

@media (min-width: 1500px) {
    .section-contacto-formulario {
        height: 60vh;
        margin: 0px 0px 30px 0px;
    }
    .titulo-contacto {
        font-size: 2.5vw;
    }
    .p-header-contacto {
        font-size: large;
    }
    .img-contacto {
        width: 21vw;
    }
   }
