* {
  margin : 0px;
  padding : 0px;
  font-family: "Noto Sans", sans-serif;
  /*  --primario: #0a9c78; */
  --primario:#215F38;
  --primario-tr: #215f38d3;
  --secundario: #296840;
  --white: #ffffff;
  --footer-grey: #979595;
  --oscuro: #333333;
  --claro: #edf4fd;
  --texto: #595959;
  --gris-oscuro: #5a5858;
  --oscuro-tr: #484848;
  --negro-tr :#000000b2;
  --blanco-contacto : rgba(255, 255, 255, 0.836);
  --color-blog: #0FA89D;
  --elegido: #166dc4;
  --rojo: rgb(136, 4, 4);

  box-sizing: border-box;
  
}


.link-redes {
  transition: 0.5s ease-in;
}

.link-redes:hover {
  transition: 0.5s ease-in;
  transform: scale(1.1);
  filter: brightness(150%);
}

a {
  color: #595959;
}

a:visited {
  color: #595959;
}

.rojo {
  color: var(--rojo);
  padding: 10px;
  border: 3px solid var(--rojo);
  border-radius: 10px;
}
body {
  color: #595959;
  width: 100%;


}

h2{
  font-size: 2.4vw;
}


ul, ol {
  list-style: none;

}


.m-auto {
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.footer-grey {

  color: var(--footer-grey);
}
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.flex-column-center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.text-start {
  text-align:start;
}
.none {
  display : none;
}

.m-10 {
  margin: 10px;
}

.mb-10 {
  margin-bottom: 10px
}

.mb-5 {
  margin-bottom: 5px
}

.m-auto {
  margin:0 auto;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.p-20 {
  padding : 20px;
}

.hora-disponible {
  background-color: rgb(165, 2, 2);
}

.hora-no-disponible {
  background-color: rgb(16, 141, 43);
}

.fondo-blanco-img {
    background-image: url('/fondo-blanco.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.arcoiris {
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin: 20px auto;
}

.arcoiris-2 {
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #fce300 0%, #cf6209 25%, #da2505 50%, #fec837 75%, #e4037b 100%);
  border-image-slice: 1;
  margin: 20px auto;
}

.arcoiris-3 {
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #215F38 0%, #35cc56 25%, #23ca8a 50%, #0FA89D 75%, #086499 100%);
  border-image-slice: 1;
  margin: 20px auto;
}


.color-blog {
  color: var(--color-blog);
}

.height-80 {
  height: 80px;
}

.small {
  font-size: small;
}

.medium {
  font-size: 1.4vw!important;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}


.x-large {
  font-size: x-large;
}

.large {
  font-size: large;
}
.cursor-default {
  cursor :default!important;
}

.width-80 {
  width: 80%;
}

.bold {
  font-weight: bold;
}

.wrap{
  flex-wrap: wrap;
}

.verde-principal {
  color: var(--primario);
}


.lista {
  list-style: disc;
}

.p-10 {
  padding: 10px;
}

.ocultar {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
.mostrar {
  opacity: 1;
  max-height: 200px; /* Ajusta según sea necesario */
}

@media (min-width: 1500px) {
  .h1-publicacion {
    font-size: 1.8vw!important;
    width: 75%;
  }
  
}

