* {
  margin : 0px;
  padding : 0px;
  font-family: "Noto Sans", sans-serif;
  /*  --primario: #0a9c78; */
  --primario:#215F38;
  --secundario: #296840;
  --white: #ffffff;
  --footer-grey: #979595;
  --oscuro: #333333;
  --claro: #edf4fd;
  --texto: #595959;
  --gris-oscuro: #5a5858;
  box-sizing: border-box;
  
}

body {
  color: #595959;
  width: 100%;

}

h2{
  font-size: 2.4vw;
}


ul, ol {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.footer-grey {

  color: var(--footer-grey);
}
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}
.none {
  display : none;
}

.m-10 {
  margin: 10px;
}

.mb-10 {
  margin-bottom: 10px
}

.mb-5 {
  margin-bottom: 5px
}

.m-auto {
  margin:0 auto;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.hora-disponible {
  background-color: rgb(165, 2, 2);
}

.hora-no-disponible {
  background-color: rgb(16, 141, 43);
}

