
.container {
    width: 95%;
    margin: 0 auto;
}

.white {
    color: white;
}

h2 {
    font-size: 2.3vw;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.lista-portada {
    font-size: x-small;
}

.text-center {
    text-align: center;
}


.contenido-salud-dental{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    gap: 50px;
}

.contenido-salud-dental-h2 {
    font-size: large;
}

.h2-salud-dental {
    color: var(--primario);
    font-size: x-large;
}

.contenido-salud-dental-h2 {
  
}

.contenido-salud-dental-divs {

}

.icono-servicio {
    width: 11vw;
    height: 11vw;
    filter: hue-rotate(300deg)
      
}

.div-salud-dental{
    margin-bottom: 15px;
}

.article-info-consulta2 {
    padding: 80px;
    background-color: var(--oscuro);
    color: white;
    justify-content: space-evenly;
}

.sections-info-consulta2 {
    margin: 0 auto;
}

.article-info-consulta2  p {

}

.h2-numero {
    color: var(--primario);
}


.info-consulta2-h2 {
    font-size: 6vw;
}

.btn-consultar {
    padding: 10px;
    background-color: rgb(235, 231, 231);
    text-align: center;
}


input, textarea {
    padding :5px;
}



@media (min-width: 800px) {
    h2 {
        font-size: 2vw;
    }
    .container {
        width: 75%;
    }
 
    .contenido-servicios {
        display: flex;
        flex-wrap: wrap;
    }

    .contenido-servicio {
        width: 45%;
        
    }
 
    .contenido-salud-dental-h2 {
        width: 70%;
      }
      
      .contenido-salud-dental-divs {
          width: 50%;
      }

      
    .contenido-salud-dental {
        display: flex;
       
    }
    .article-info-consulta2 {
       flex-direction: row;
    }
    .sections-info-consulta2{
        width: 50%;
        gap: 20px;
    }
    .article-info-consulta2 p {
        font-size: 1.3vw;
     }
     .info-consulta2-h2 {
        font-size: 2.2vw;
     }

    .section-ubicacion {
        flex-direction: row;
    }
  }
  
  
