
.container {
    width: 95%;
    margin: 0 auto;
}

.white {
    color: white;
}

h2 {
    font-size: 2.3vw;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.lista-portada {
    font-size: x-small;
}

.text-center {
    text-align: center;
}


.contenido-servicios {
    margin-bottom: 20px;
    align-items: center;

}
.contenido-servicio {
    align-items: center;
    box-shadow: rgba(199, 201, 201, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.contenido-servicio h2 {
    font-weight: 500;
}


.contenido-salud-dental{
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}


.h2-salud-dental {

}

.contenido-salud-dental-h2 {
  width: 70%;
}

.contenido-salud-dental-divs {
    width: 50%;
}

.icono-servicio {
    width: 11vw;
    height: 11vw;
    filter: hue-rotate(300deg)
      
}

.div-salud-dental{
    margin-bottom: 15px;
}

.article-info-consulta2 {
    padding: 80px;
    background-color: #F3F8FE;
    justify-content: space-evenly;
}

.article-info-consulta2  p {
    font-size: 1.3vw;
}

.h2-numero {
    color:#2B5A4C;
}


.btn-consultar {
    padding: 10px;
    background-color: rgb(223, 225, 226);
    color: rgb(148, 148, 148);
    text-align: center;
}


input, textarea {
    padding :5px;
}


@media (min-width: 800px) {
    h2 {
        font-size: 2vw;
    }
    .container {
        width: 75%;
    }
 
    .contenido-servicios {
        display: flex;
        flex-wrap: wrap;
    }

    .contenido-servicio {
        width: 32vw;
        
    }
 
    .contenido-salud-dental {
        display: flex;
       
    }
    .article-info-consulta2 {
       display: flex;
    }
    .section-ubicacion {
        flex-direction: row;
    }
  }
  
  
