
.contenido-clientes {
    padding: 40px;
}

.menu {
    text-align: center;
    margin: 20px;
}
  
.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: var(--primario);
    padding: 8px;
    width: 2px;
    height: 2px;
    margin-left: 10px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}

.menu li a:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.4);
}


@media (min-width: 800px) {
  
    .contenido-clientes {
        width: 40%;
    }  
  }