
.contenido-clientes {
    padding: 20px 40px;
    margin: 30px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu {
    text-align: center;
    margin: 20px;
}
  
.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: var(--secundario);
    padding: 8px;
    width: 2px;
    height: 2px;
    margin-left: 10px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}

.menu li a:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.4);
}

.portada-color {
    background-color: var(--primario);
    border-radius: 10px;
    height: 8vh;
}

@media (min-width: 800px) {
  
    .contenido-clientes {
        width: 40%;
    }  
  }